.mainTipologias{
    mask-image: linear-gradient(transparent, rgb(0, 0, 0) 5%);
    .seccionTarjetas{
        background-color: $color-principal;
        .tarjeta{
            background-color: $color-secundario;
            border: solid $color-negro;
            .imgTarjeta{
                width: 100%;
                height: $t-90por;
                object-fit: cover;
                border: solid $color-sombreado;
            }
        }
    }
}