.mainUbicacion{
    background-image: url(../assets/img/villaurquiza.png);
    background-color: rgb(100, 100, 100);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(transparent, rgb(0, 0, 0) 10%);
    .txtubicacion{
        font-size: $txt-30px;
        color: $color-secundario;
        -webkit-text-stroke: $txt-1p5px $color-secundario;

    }
    .seccionUbicacion{
        font-size: $txt-50px;
             -webkit-text-stroke: $txt-0p5px $color-secundario;
    }
}