$color-principal: rgb(231, 231, 231);
$color-secundario: rgb(255, 255, 255);
$color-whatsapp: rgb(33, 199, 33);
$color-txt-footer: rgb(53, 138, 91);
$color-sombreado: rgba(0, 0, 0, 0.5);
$color-negro: rgb(0, 0, 0);
$color-txt-tarjetas: rgb(46, 46, 46);
$txt-0p5px: 0.5px;
$txt-1px: 1px;
$txt-1p5px: 1.5px;
$txt-30px: 30px;
$txt-40px: 40px;
$txt-45px: 45px;
$txt-50px: 50px;
$txt-90px: 90px;
$txt-sombreado-contacto: 2px 2px 2px;
$tamano-wpp: 5rem;
$t-90por: 90%;
/*Aplico map en mediaqueries
$media-ancho: 650px;
$media-alto: 600px;*/
$mediatamanio:(
                ancho: 650px,
                alto: 600px,
);
$tamanio-boton-index: 150px;
$tamanio-extras: 100%;
$tamanio-h1: 300;